// Rofi colors for Daniela

* {
    font: "JetBrainsMono NF Bold 9";
    background: #181825;
    bg-alt: #1e1e2e;
    background-alt: #181825E0;
    foreground: #CDD6F4;
    selected: #F5C2E7;
    active: #A6E3A1;
    urgent: #F38BA8;

    img-background: url("~/.config/bspwm/rices/daniela/rofi.webp", width);
}
